// * {
// 	border: 1px solid red;
// }

.container {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
	justify-content: space-between;
}

// Breadcrumb

.breadcrumb {
	// padding: 14px 0;
	box-shadow: 0 5px 35px rgba(0, 0, 0, 0.1);
	padding: 14px 0 13px;
	ul {
		padding: 0;
		margin: 0;
	}
	li {
		font-size: 0.8125rem;
		display: inline-block;
		list-style: none;
	}

	li:not(:first-child)::before {
		content: '/';
	}

	li:not(:last-child) {
		font-weight: 700;
	}
}

// end of BREADCRUMB

// FORM

.flex-row {
	display: flex;
	flex-flow: row wrap;
	max-width: 1200px;
	// width: 100%;
	// margin: 0 -15px;
}

.panel-1 {
	width: 66.6%;
	// padding: 1em;
	// min-width: 630px;
	// order: 2;
}

.panel-2 {
	width: 33.3%;
	display: flex;
	flex-direction: column;
	// margin-left: 20px;
	padding-left: 15px;
	// order: 1;
	div {
		margin-bottom: 25px;
		a {
			color: $web-design-light;
			h2 {
				margin: 0;
				font-size: 32px;
			}
			h3 {
				margin: 0;
				font-size: 26px;
			}
		}
	}
}

.form-row {
	display: flex;
	justify-content: space-between;
	// margin: 0 -15px 15px -15px;
	// margin-bottom: 15px;
	// width: 100%;
}

.form-group {
	display: flex;
	flex-direction: column;
	padding: 0 15px;
	// margin-bottom: 15px;
	width: 50%;
	margin: 0 -15px;
	// min-width: 33px;
}

input,
label,
textarea {
	// display: block;
	width: 100%;
	margin-bottom: 15px;
}

.errorMsg {
	// margin-top: -15px;
	margin-bottom: 15px;
}

.required {
	// display: block;
	font-weight: 600;
	margin-bottom: 5px;
	&.required::after {
		content: ' *';
		color: #d24d57;
	}
}

.form-input {
	width: 100%;
	padding: 5px 15px;
	height: 47px;
}

.message {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 15px;
	textarea {
		resize: vertical;
		padding: 5px 15px;
	}
}

.enquiry {
	margin-bottom: 15px;
	span {
		margin: 15px 0;
		font-size: 2em;
	}
}

.contact-btn {
	display: block;
	width: 155px;
	height: auto;
	line-height: 30px;
	padding: 5px 15px;
	text-transform: uppercase;
	font-size: 1.063rem;
	border-radius: 3px;
	white-space: normal;
	color: #fff;
	background-color: $nm-bg;
	border-color: $nm-bg;
	cursor: pointer;
}
