/* CUSTOM CHECKBOX */
.checkbox-container {
	display: block;
	position: relative;
	padding-left: 35px;
	cursor: pointer;
	font-weight: 600;
	line-height: 32px;
	user-select: none;

	/* Hide the browser's default checkbox */
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;

		/* When the checkbox is checked, add a blue background */
		&:checked ~ .checkmark {
			background-color: $nm-bg;
		}
		/* Show the checkmark when checked */
		&:checked ~ .checkmark:after {
			display: block;
		}
	}

	/* Create a custom checkbox */
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 32px;
		width: 32px;
		background-color: #fff;
		border: 3px solid $nm-bg;
		border-radius: 3px;

		/* Create the checkmark/indicator (hidden when not checked) */
		&:after {
			content: '\2713';
			position: absolute;
			display: none;
			color: #fff;
			font-size: 30px;

			/* Style the checkmark/indicator */
			left: 50%;
			margin-left: -12px;
			top: 50%;
			margin-top: -15px;

			// top: 5px;
			// width: 5px;
			// height: 10px;
			// border: solid white;
			// border-width: 0 3px 3px 0;
			// transform: rotate(45deg);
		}
	}
}
/* end of CUSTOM CHECKBOX */
