$nm-bg: #333645;

$support-light: #4183d7;
$support-bg-dark: #2a6ec6;
$support-border-dark: #2665b5;

$contact-light: #999aa2;
$contact-bg-dark: #84858f;
$contact-border-dark: #797a85;

$web-design-light: #926fb1;
$web-design-bg-dark: #7e57a0;
$web-design-border-dark:#735093;

$it-support-light: #4183d7;
$it-support-bg-dark: #2a6ec6;
$it-support-border-dark:#2665b5;

$telecom-services-light: #d64541;
$telecom-services-bg-dark: #c42e2a;
$telecom-services-border-dark:#b32a27;

$bespoke-software-light: #67809f;
$bespoke-software-bg-dark: #566c88;
$bespoke-software-border-dark: #4e627b;

$digital-marketing-light: #2ecc71;
$digital-marketing-bg-dark: #26ab5f;
$digital-marketing-border-dark: #239a55;

$cyber-security-light: #f62459;
$cyber-security-bg-dark: #e80a42;
$cyber-security-border-dark: #d4093c;

$facebook: #3b5998;
$twitter: #00aced;
$linkedin: #0077b5;

$tool-tip: #333645;